# The maximum amount of time to wait for HTTP requests to complete.
# Default: 300000 (5 minutes)
#   -- https://docs.npmjs.com/cli/v9/using-npm/config#fetch-timeout
fetch-timeout=5000

# The "minTimeout" config for the retry module to use when fetching packages.
# Default: 10000 (10 seconds)
#   -- https://docs.npmjs.com/cli/v9/using-npm/config#fetch-retry-mintimeout
# minTimeout: The number of milliseconds before starting the first retry. Default is 1000
#   -- https://www.npmjs.com/package/retry#retrytimeoutsoptions
fetch-retry-maxtimeout=1000

# The "maxTimeout" config for the retry module to use when fetching packages.
# Default: 60000 (1 minute)
#   -- https://docs.npmjs.com/cli/v9/using-npm/config#fetch-retry-maxtimeout
# maxTimeout: The maximum number of milliseconds between two retries. Default is Infinity
#   -- https://www.npmjs.com/package/retry#retrytimeoutsoptions
fetch-retry-maxtimeout=5000

# The "retries" config for the retry module to use when fetching packages from the registry.
# Default: 2
# -- https://docs.npmjs.com/cli/v9/using-npm/config#fetch-retries
# retries: The maximum amount of times to retry the operation. Default is 10. Seting this to 1 means do it once, then retry it once.
# -- https://www.npmjs.com/package/retry#retrytimeoutsoptions
fetch-retries=1
