# "The maximum amount of time to wait for HTTP requests to complete" (milliseconds)
# -- https://docs.npmjs.com/cli/v9/using-npm/config#fetch-timeout
fetch-timeout=5000

# "The "maxTimeout" config for the retry module to use when fetching packages" (milliseconds)
# -- https://docs.npmjs.com/cli/v9/using-npm/config#fetch-retry-maxtimeout
# "maxTimeout: The maximum number of milliseconds between two retries. Default is Infinity"
# -- https://www.npmjs.com/package/retry#retrytimeoutsoptions
fetch-retry-maxtimeout=5000

# "The "retries" config for the retry module to use when fetching packages from the registry"
# -- https://docs.npmjs.com/cli/v9/using-npm/config#fetch-retries
# "retries: The maximum amount of times to retry the operation. Default is 10. Seting this to 1 means do it once, then retry it once."
# -- https://www.npmjs.com/package/retry#retrytimeoutsoptions
fetch-retries=1
