# "The maximum amount of time to wait for HTTP requests to complete" (milliseconds)
# -- https://docs.npmjs.com/cli/v9/using-npm/config#fetch-timeout
fetch-timeout=30000

# "The "maxTimeout" config for the retry module to use when fetching packages" (milliseconds)
# -- https://docs.npmjs.com/cli/v9/using-npm/config#fetch-retry-maxtimeout
# "maxTimeout: The maximum number of milliseconds between two retries. Default is Infinity"
# -- https://www.npmjs.com/package/retry#retrytimeoutsoptions
fetch-retry-maxtimeout=60000
