{{- $title := index .Attributes "title" -}}
{{- $type := index .Attributes "type" -}}
{{- $modifier := index .Attributes "modifier" -}}
{{- $showCopyButton := ne (index .Attributes "codetocopy") false -}}
{{- $codeToCopy := index .Attributes "codetocopy" | default (.Inner | base64Encode) -}}

<div class="code-block{{ if $title }} code-block--heading{{ end }}{{ if eq $type "terminal" }} code-block--terminal{{ end }}{{ if $modifier }} {{ $modifier}}{{ end }}"
{{- if $showCopyButton -}} data-copy{{- end -}}>
    {{- with $title -}}
        <div class="code-block__heading">
            <span class="code-block__tab">{{- . -}}</span>
        </div>
    {{- end -}}

    <div class="code-block__highlight">
        {{- if $showCopyButton -}}
            <button class="code-block__copy" type="button" data-copy-button data-copy-type="code" data-copy-value="{{ $codeToCopy }}">
                <span>{{ T "copy_title" }}</span>
                <span class="code-block__message is-hidden" data-copy-message aria-hidden="true">
                    {{ T "copy_message" }}
                </span>
            </button>
        {{- end -}}

        {{- highlight .Inner .Type .Options -}}
    </div>
</div>
