@import '../config/sizes';
@import '../mixins/screen';

.anchor {
    $self: &;

    left: 4px;
    padding-right: 10px; // make sure there is overlap between anchor and heading
    position: absolute;
    text-decoration: none;

    &:focus-visible {
        #{ $self }__icon {
            visibility: visible;
        }
    }

    &__icon {
        display: inline-block;
        height: 1rem;
        vertical-align: baseline;
        visibility: hidden;
        width: 1rem;
    }

    @include screen($screen-normal) {
        left: 8px;
    }

    @media (hover: none) {
        &__icon {
            visibility: visible !important;
        }
    }
}
