@import '../config/colors';
@import '../config/sizes';
@import '../mixins/container';
@import '../mixins/screen';
@import '../mixins/sr-only';
@import '../mixins/svg';
@import '../mixins/typography';

.article {
    $self: &;

    background-color: var(--article-background, $c-white);
    height: 100%;
    margin: 0 auto;
    max-width: $w-content--small;
    padding: 2rem 0;

    &__container {
        @include container($w-content);

        padding: 0 $p-gutter;
        position: relative;
    }

    &__footer {
        border-top: solid 2px $c-yellow;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 0 auto;
        opacity: 1;
        padding: 1.5rem 0;
    }

    &__info {
        align-items: center;
        column-gap: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 0.5rem;
    }

    &__header {
        margin: 2.5rem 0 2rem;
        position: relative;
        width: 100%;
    }

    &__title {
        @include style-heading-1;

        hyphens: auto;
        margin: 0 0 0.75rem;
        word-break: break-word;
    }

    &__content {
        padding-bottom: 2rem;
    }

    &--blog {
        p:first-child {
            @include style-intro-article;
        }
    }

    &--docs {
        padding-top: 0;

        h4,
        h5,
        h6 {
            font-size: 1rem;
        }
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        &:hover {
            .anchor__icon {
                visibility: visible;
            }
        }
    }

    @include screen($screen-normal) {
        &__container {
            padding: 0 1.875rem;
        }

        &--blog {
            #{ $self }__header {
                margin: 0 (-$p-gutter--large);
            }
        }
    }

    @include screen($screen-large) {
        &--blog {
            #{ $self }__header {
                margin: 0 (2 * -$p-gutter--large);
            }
        }
    }
}
