@import '../config/sizes';
@import '../mixins/screen';
@import '../mixins/marginless-child';

.columns {
    $self: &;

    margin: 0 auto 1.25em;

    @include screen($screen-simple) {
        display: flex;
        gap: $p-gutter;

        &__col {
            @include marginless-child;

            display: flex;
            flex: 0 1 50%;
            flex-direction: column;
            max-width: 50%;

            // Make sure codeblocks fill all available space inside column
            > pre:last-child {
                flex: 1 0 auto;
            }

            > .highlight:last-child {
                flex: 1 0 auto;

                > * {
                    height: 100%;
                }
            }
        }
    }
}
