@use 'sass:color';
@import '../config/colors';
@import '../config/sizes';
@import '../mixins/screen';
@import '../mixins/sr-only';

.drawer {
    $self: &;

    display: none;
    inset: 0;
    position: fixed;
    z-index: 11;

    &__backdrop {
        background-color: transparent;
        cursor: pointer;
        inset: 0;
        position: absolute;
        transition: background-color 0.2s ease-in-out;
    }

    &__container {
        background-color: var(--drawer-background, $c-yellow);
        bottom: 0;
        box-shadow: $shadow--drawer;
        display: flex;
        flex-direction: column;
        height: 100%;
        max-width: $w-drawer;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(101%);
        transition: transform 0.4s ease-in-out;
        width: 100%;
    }

    &__header {
        align-items: center;
        display: flex;
        flex: 0 0 $h-header;
        height: $h-header;
        justify-content: space-between;
        margin: 0 auto;
        max-width: $w-site;
        padding: 0 $p-gutter;
        width: 100%;
    }

    &__content {
        flex: 1;
        margin: 0 auto;
        max-width: $w-site;
        overflow: hidden auto;
        padding: $p-gutter;
        width: 100%;
    }

    &__footer {
        align-items: center;
        display: flex;
        flex: 0 0 auto;
        justify-content: center;
        margin: 0 auto;
        max-width: $w-site;
        padding: $p-gutter;
        width: 100%;
    }

    &__branding {
        background-color: var(--drawer-branding-background, $c-white);
        border-radius: $b-radius--round;
        display: block;
        flex: 0 0 $w-branding;
        margin: 0 auto 0 -0.75rem;
        padding: 4px;
        transition: background-color 0.2s;
        width: $w-branding;

        &:focus,
        &:hover {
            background-color: var(--drawer-branding-background-hover, $c-yellow--dark);
        }

        span {
            @include sr-only;
        }
    }

    &__close {
        flex: 0 0 $h-button;
    }

    &.is-active {
        display: block;
    }

    &.is-open {
        #{ $self }__backdrop {
            background-color: color.scale($c-black, $alpha: -50%);
        }

        #{ $self }__container {
            transform: translateX(0);
        }
    }

    @include screen($screen-normal) {
        &__header {
            flex: 0 0 $h-header--large;
            height: $h-header--large;
        }

        &--mobile {
            &.is-active {
                display: none;
            }
        }
    }
}
