@import '../config/colors';
@import '../config/typography';
@import '../mixins/typography';

.lastmod {
    @include style-text-small;

    --text-link-color: #{ $c-blue--bright };

    $self: &;

    color: var(--text-link-color);
    font-weight: $weight-light;
    margin: 0;

    &__link {
        border-bottom: 1px solid currentColor;
        cursor: pointer;
        text-decoration: none;
        transition: border-bottom 0.2s ease-in;

        &:focus,
        &:hover {
            border-bottom: 1px solid transparent;
        }
    }
}
