@import '../config/colors';
@import '../config/sizes';
@import '../mixins/list-reset';
@import '../mixins/screen';

.list {
    $self: &;

    @include list-reset;

    display: grid;
    gap: $p-gutter;

    &__item {
        display: block;
    }

    &--archive {
        border: 1px solid transparentize($c-blue--darker, 0.88);
        border-radius: $b-radius;
        display: block;

        #{ $self }__item {
            border-bottom: 1px solid transparentize($c-blue--darker, 0.88);

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    &--tags {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
    }

    @include screen($screen-simple) {
        &--overview {
            grid-template-columns: repeat(2, 1fr);

            #{ $self }__item:first-child {
                grid-column: span 2;
            }
        }
    }

    @include screen($screen-normal) {
        gap: 2rem;

        &--overview {
            grid-template-columns: repeat(3, 1fr);

            #{ $self }__item:first-child {
                grid-column: span 3;
            }
        }
    }
}
