@import '../mixins/typography';

.meta {
    $self: &;

    color: var(--meta-color, $c-grey--dark);
    column-gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;

    &__item {
        position: relative;
    }

    &__item + &__item {
        margin-left: 1rem;

        &::before {
            align-items: center;
            content: "\2022";
            display: flex;
            left: -1rem;
            line-height: 1.75;
            position: absolute;
        }
    }

    &__value, &__text {
        @include style-text-small;

        display: inline-block;
    }
}
