@import '../config/colors';
@import '../config/sizes';
@import '../config/typography';
@import '../mixins/button';
@import '../mixins/screen';
@import '../mixins/sr-only';
@import '../mixins/svg';
@import '../mixins/typography';

.nav {
    $self: &;

    --nav-link-color: #{ $c-blue--darker };
    --nav-link-border-color: currentColor;
    --nav-link-border-width: 1px;

    color: var(--nav-link-color);
    font-family: $font-inter;
    font-size: 1rem;
    line-height: 1.6;

    &__title {
        display: block;
        font-size: 1rem;
        font-weight: $weight-bold;
        line-height: 1.2;
        margin: 0 0 2rem;
    }

    &__list {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        + #{ $self }__item {
            margin-top: 0.5rem;
        }

        &--search {
            padding: 0.75rem;
        }
    }

    &__link {
        cursor: pointer;
        text-decoration: none;

        &:hover,
        &:focus {
            #{ $self }__text {
                background-position-x: 0;
                background-size: 100% var(--nav-link-border-width);
            }
        }

        &[disabled] {
            color: $c-grey;
            cursor: default;
            font-style: italic;

            #{ $self }__text {
                background-size: 0 0;
            }
        }
    }

    &__text {
        background: linear-gradient(var(--nav-link-border-color), var(--nav-link-border-color)) no-repeat 100% 100%;
        background-size: 0 var(--nav-link-border-width);
        position: relative;
        transition:
            background-color 0.2s ease-in-out,
            background-size 0.2s ease-in-out,
            color 0.2s ease-in-out;
    }

    &--main {
        --nav-link-color: #{ $c-blue--darker };
        --nav-link-border-color: #{ $c-yellow };
        --nav-link-border-width: 3px;

        background-color: $c-white;
        border-radius: $h-button * 0.5;
        font-weight: $weight-medium;
        padding: 0 $p-gutter;

        #{ $self }__list {
            display: flex;
            justify-content: center;
        }

        #{ $self }__item {
            margin: 0;
        }

        #{ $self }__link {
            display: block;
            height: $h-button;
            line-height: $h-button;
            margin: 0;
            padding: 0 1rem;
            position: relative;
        }

        #{ $self }__text {
            line-height: 28px;
        }
    }

    &--footer,
    &--drawer {
        #{ $self }__title {
            margin: 0 0 1.5rem;
        }
    }

    &--footer {
        --nav-link-color: #{ $c-white };

        font-size: 0.875rem;

        #{ $self }__title {
            font-size: 1.25rem;
        }

        #{ $self }__item {
            + #{ $self }__item {
                margin-top: 1rem;
            }
        }

        #{ $self }__text {
            border-bottom: 1px solid transparent;
        }
    }

    &--social {
        background-color: $c-white;
        border-radius: $h-button * 0.5;
        padding: 0 5px;

        #{ $self }__list {
            align-items: center;
            display: flex;
        }

        #{ $self }__item {
            + #{ $self }__item {
                margin: 0 0 0 0.2rem;
            }
        }

        #{ $self }__link {
            background-color: $c-white;
            border-radius: $b-radius--round;
            display: block;
            height: $h-button;
            padding: 11px;
            transition: color 0.2s;
            width: $h-button;

            &:hover,
            &:focus {
                color: $c-yellow;
            }
        }

        #{ $self }__text {
            @include sr-only;
        }
    }

    &--legal {
        font-size: 0.875rem;

        #{ $self }__list {
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        #{ $self }__item {
            + #{ $self }__item {
                margin: 0.5rem 0 0;
            }
        }
    }

    &--mobile {
        #{ $self }__list {
            margin: 1rem -0.5rem 0;
        }

        #{ $self }__item {
            font-size: 1.25rem;
            font-weight: $weight-bold;
            margin: 0.75em 0;
        }

        #{ $self }__link {
            border: none;
            border-radius: $b-radius;
            display: block;
            padding: 0.75rem;
            position: relative;

            &:focus,
            &:hover {
                background-color: $c-yellow--dark;
            }
        }

        #{ $self }__text {
            border: none;
        }
    }

    &--index {
        #{ $self }__title {
            color: $c-blue--light;
            margin: 0;
            padding: 0.5rem;
        }

        #{ $self }__list {
            border-top: 2px solid $c-yellow;
            margin: 0 0 1rem;
            padding-top: 1rem;
        }

        #{ $self }__item {
            padding: 0 0.5rem;
        }
    }

    @include screen($screen-simple) {
        &--legal {
            width: 100%;

            #{ $self }__list {
                flex-direction: row;
                height: 100%;
            }

            #{ $self }__item {
                + #{ $self }__item {
                    margin: 0 0 0 1rem;

                    &::before {
                        background-color: currentColor;
                        content: '';
                        display: inline-block;
                        height: 15px;
                        margin-right: 1rem;
                        opacity: 0.15;
                        vertical-align: -3px;
                        width: 1px;
                    }
                }
            }

            #{ $self }__link {
                display: inline-block;
            }
        }
    }
}
