@import '../config/colors';
@import '../mixins/marginless-child';
@import '../mixins/screen';
@import '../mixins/svg';

.note {
    $self: &;

    --heading-color: #{ $c-white };
    --list-color: #{ $c-white };
    --text-color: #{ $c-white };
    --text-link-color: #{ $c-white };

    background-color: var(--note-bg-color, $c-blue--light );
    border-radius: 3px;
    margin: 0 0 1.25em;
    padding: 1rem 1.25rem;

    &__content {
        @include marginless-child;

        color: var(--text-color);
        position: relative;
    }

    &--warn {
        --heading-color: #{ $c-blue--darker };
        --list-color: #{ $c-blue--darker };
        --note-bg-color: #{ $c-yellow };
        --text-color: #{ $c-blue--darker };
        --text-link-color: #{ $c-blue--darker };
    }

    &--caution {
        --note-bg-color: #{ $c-red--light };
    }

    @include screen($screen-simple) {
        &__content {
            padding-left: 3rem;

            &::before {
                @include svg(exclamation, $c-white);

                display: inline-block;
                height: 2rem;
                left: 0;
                position: absolute;
                top: 0;
                width: 2rem;
            }
        }

        &--warn {
            #{ $self }__content {
                &::before {
                    @include svg(exclamation, $c-blue--darker);
                }
            }
        }
    }
}
