@import '../config/colors';
@import '../config/sizes';
@import '../mixins/container';
@import '../mixins/screen';

.notification-bar {
    $self: &;

    background-color: var(--notification-bar-background, $c-yellow);
    bottom: 0;
    color: $c-grey--darkest;
    left: 0;
    padding: .5rem 0;
    position: fixed;
    right: 0;
    z-index: 10;

    &__container {
        @include container($w-content);

        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 0 $p-gutter--large;
    }

    &__content {
        margin-bottom: .75rem;
        text-align: center;
    }

    &__cta {
        display: block;
    }

    &__close {
        position: absolute;
        right: 5px;
        top: 7px;
    }

    &.is-hidden {
        display: none;
    }

    @include screen($screen-simple) {
        &__container {
            flex-direction: row;
            padding: 0 50px 0 $p-gutter;
        }

        &__content {
            margin: 0 auto 0 0;
            text-align: left;
        }

        &__close {
            margin-top: -16px;
            right: 10px;
            top: 50%;
        }
    }

    @include screen($screen-normal) {
        &__container {
            padding: 0 $p-gutter;
        }
    }
}
