@import '../config/colors';
@import '../config/sizes';
@import '../mixins/container';
@import '../mixins/screen';
@import '../mixins/separator-line';
@import '../mixins/typography';

.prevnext {
    $self: &;

    --prevnext-color: #{ $c-blue };

    padding: 1.5rem 0;
    position: relative;

    &__container {
        @include container($w-content);

        align-items: flex-start;
        color: var(--prevnext-color);
        display: flex;
        fill: currentColor;
        font-weight: $weight-bold;
        justify-content: space-between;
        padding: 0 $p-gutter;
    }

    &__next {
        display: block;
        justify-content: flex-end;
        margin: 0 0 0 auto;
        padding: 0.25rem 40px 0.25rem 0.25rem;
        text-align: right;

        #{ $self }__icon {
            left: auto;
            right: 0;
        }
    }

    &__prev,
    &__next {
        display: none;
        line-height: 1.5;
        margin: 0 auto 0 0;
        padding: 0.25rem 0.25rem 0.25rem 40px;
        position: relative;
        text-decoration: none;
        width: 100%;

        &:hover,
        &:focus {
            #{ $self }__text {
                background-position-x: 0;
                background-size: 100% 2px;
            }
        }

        &[disabled] {
            display: none;
        }
    }

    &__icon {
        display: block;
        height: 30px;
        left: 0;
        position: absolute;
        top: 5px;
        width: 30px;
        top: 3px;
    }

    &__text {
        background: linear-gradient(var(--prevnext-color), var(--prevnext-color)) no-repeat 100% 100%;
        background-size: 0 2px;
        display: inline;
        padding-bottom: 3px;
        transition: background-size 0.2s ease-in-out;
    }

    @include screen($screen-simple) {
        &__prev,
        &__next {
            display: block;
            width: 45%;
        }
    }

    @include screen($screen-large) {
        &::before {
            margin-bottom: 2rem;
        }

        &__prev,
        &__next {
            min-height: 80px;
        }
    }
}
