@import '../config/sizes';
@import '../mixins/screen';

.search {
    margin: 0 (-$p-gutter);
    position: relative;

    @include screen($screen-simple) {
        margin: $p-gutter (-$p-gutter);
    }

    @include screen($screen-normal) {
        margin: $p-gutter--large (-$p-gutter);
    }
}
