@import '../config/colors';
@import '../config/sizes';
@import '../mixins/clear-fix';
@import '../mixins/container';
@import '../mixins/screen';
@import '../mixins/separator-line';
@import '../mixins/typography';

.section {
    $self: &;

    @include clear-fix;

    background-color: var(--section-bg-color, transparent);
    padding: var(--section-padding, 2rem) 0;
    position: relative;

    &:first-child {
        padding-top: 1rem;
    }

    &__header,
    &__body,
    &__footer {
        position: relative;

        & + #{ $self }__header,
        & + #{ $self }__body,
        & + #{ $self }__footer {
            padding-top: 0;
        }
    }

    &__header {
        & + #{ $self }__body {
            margin-top: 2rem;
        }
    }

    &__content {
        @include clear-fix;
        @include container($w-section-content);

        padding: 0 $p-gutter;
        position: relative;
    }

    &__container {
        @include container($w-section-container);

        padding: 0 $p-gutter;
        position: relative;
    }

    &__title {
        @include style-heading-1;

        margin: 0;

        & + #{ $self }__intro {
            margin-top: 1rem;
        }
    }

    &__intro {
        & > :last-child {
            margin-bottom: 0;
        }
    }

    &--is-first {
        padding-top: 0;
    }

    &--logos {
        #{ $self }__header {
            text-align: center;
        }
    }

    &--overview {
        #{ $self }__header {
            &::after {
                @include separator-line;

                margin: 2rem auto 0;
            }
        }
    }

    @each $theme, $color in $themes {
        &--#{ $theme } {
            --section-bg-color: #{ $color };

            + #{ $self }--#{ $theme } {
                padding-top: 0;
            }
        }
    }

    @include screen($screen-simple) {
        --section-padding: 3rem;

        &:first-child {
            padding-top: 0.75rem;
        }

        &--center {
            #{ $self }__header,
            #{ $self }__footer {
                text-align: center;
            }
        }

        &--search {
            #{ $self }__header {
                padding-bottom: 2rem;
            }
        }
    }

    @include screen($screen-normal) {
        --section-padding: 4rem;

        &--logos,
        &--overview {
            #{ $self }__header {
                padding-bottom: 2rem;
            }
        }
    }

    @include screen($screen-large) {
        &:first-child {
            padding-top: 0;
        }

        &--logos {
            --section-padding: 6rem;

            #{ $self }__header {
                padding-bottom: 2rem;
            }
        }
    }
}
