@import '../config/colors';
@import '../config/typography';
@import '../mixins/typography';

.sidenote {
    --sidenote-height: 30px;

    $self: &;

    @include style-text-small;

    background-color: var(--sidenote-background, $c-yellow);
    border-radius: 20px;
    display: block;
    font-weight: $weight-medium;
    height: var(--sidenote-height);
    line-height: var(--sidenote-height);
    margin: 0 0 0.5rem;
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: fit-content;

    h1 + & {
        margin-top: -1.75rem;
    }

    h2 + & {
        margin-top: -0.5rem;
    }

    @include screen($screen-simple) {
        clear: right;
        float: right;
        margin: calc(-1 * var(--sidenote-height)) 0 0;
        max-width: 250px;

        h1 + & {
            margin-top: calc((var(--sidenote-height) + 2.5rem) * -1);
        }

        h2 + & {
            margin-top: calc((var(--sidenote-height) + 1rem) * -1);
        }

        h3 + &,
        h4 + & {
            margin-top: calc((var(--sidenote-height) + 0.375rem) * -1);
        }

        h5 + &,
        h6 + & {
            margin-top: calc((var(--sidenote-height) + 0.25rem) * -1);
        }

        p + & {
            margin: 0;
        }

        // If is first in article__content: make sure it floats next to article heading
        .article__content > &:first-child {
            margin-top: calc((var(--sidenote-height) + 1rem) * -1);
        }
    }
}
