@use 'sass:color';
@import '../config/colors';
@import '../config/sizes';
@import '../mixins/screen';

.tabs {
    --tabs-gutter: #{ $p-gutter };

    $self: &;

    border: 1px solid var(--tabs-border, color.scale($c-blue--darker, $alpha: -90%));
    border-radius: $b-radius;
    margin: 0 (calc(var(--tabs-gutter) * -1)) 2rem;
    overflow: hidden;

    &__content {
        padding: var(--tabs-gutter);
    }

    &__item {
        display: none;

        &.is-active {
            display: block;
        }

        & > :first-child {
            margin-top: 0;
        }
    }

    &--code {
        border: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0;

        #{ $self }__nav  {
            flex: 0 0 auto;
        }

        #{ $self }__content {
            flex: 1 1 auto;
            overflow-y: auto;
            padding: 0;

            #{ $self }__item,
            pre {
                height: 100%;
            }
        }
    }

    @include screen($screen-minimal) {
        margin-left: 0;
        margin-right: 0;
    }

    @include screen($screen-simple) {
        --tabs-gutter: 30px;

        &__item {
            > pre {
                padding-left: var(--tabs-gutter);
                padding-right: var(--tabs-gutter);
            }
        }
    }
}
