@use 'sass:color';
@import '../config/colors';
@import '../config/sizes';
@import '../mixins/stretch';
@import '../mixins/typography';

.tabs-nav {
    $self: &;

    border-bottom: 1px solid var(--tabs-nav-border, color.scale($c-blue--darker, $alpha: -90%));
    display: flex;
    overflow: hidden;

    &__tabs {
        display: flex;
        overflow-x: auto;
        padding: 0 $p-gutter;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }

    &__item {
        flex: 0 0 auto;
        padding-right: 1.75rem;

        &:last-child {
            padding-right: 0;
        }
    }

    &__tab {
        background-color: var(--tab-background, $c-white);
        color: var(--tab-color, $c-blue--darker);
        display: block;
        height: var(--tab-height, 52px);
        line-height: var(--tab-height, 52px);
        position: relative;
        text-align: center;
        transition: color 0.2s, background-color 0.2s;

        &::after {
            bottom: 0;
            content: '';
            display: block;
            height: 4px;
            left: 0;
            position: absolute;
            transition: background-color 0.2s;
            width: 100%;
        }

        &:focus,
        &:hover {
            background-color: var(--tab-background-hover, $c-white);
            color: var(--tab-color-hover, $c-blue--light);

            &::after {
                background-color: var(--tab-border-color, $c-yellow);
            }
        }

        &.is-active {
            background-color: var(--tab-background-active, $c-white);
            color: var(--tab-color-active, $c-blue--darker);
            font-weight: $weight-bold;
            pointer-events: none;

            &::after {
                background-color: var(--tab-border-color-active, $c-yellow);
            }
        }
    }

    &__pagination {
        align-items: center;
        box-shadow:
            0 2px 4px -1px color.scale($c-black, $alpha: -80%),
            0 4px 5px 0 color.scale($c-black, $alpha: -86%),
            0 1px 10px 0 color.scale($c-black, $alpha: -88%);
        color: $c-black;
        display: flex;
        flex: 0 0 36px;
        justify-content: center;
        overflow: hidden;
        position: relative;
        width: 36px;

        &::before {
            @include stretch;

            background-color: color.scale($c-grey--lighter, $alpha: -50%);
            border-radius: 20px;
            content: '';
            display: block;
            height: 140%;
            pointer-events: none;
            transform: scale(0) translate(-20%, -20%);
            transform-origin: left bottom;
            transition: transform 0.2s;
            width: 140%;
        }

        &:focus,
        &:hover {
            color: $c-grey--dark;

            &::before {
                transform: scale(1) translate(-20%, -20%);
            }
        }

        &:disabled {
            box-shadow: none;
            color: $c-grey--light;
            pointer-events: none;
        }

        &.is-hidden {
            display: none;
        }
    }

    &__icon {
        display: block;
        height: 24px;
        position: relative;
        width: 24px;
    }

    &--prev {
        margin-left: #{-$p-gutter};
    }

    &--next {
        margin-right: #{-$p-gutter};
    }

    &--code {
        --tab-background: #{ $c-grey-blue };
        --tab-background-hover: #{ $c-grey-blue--light };
        --tab-background-active: #{ $c-white };
        --tab-color: #{ $c-blue--darker };
        --tab-color-hover: #{ $c-blue--darker };
        --tab-color-active: #{ $c-blue--darker };
        --tab-height: 35px;

        background-color: $c-grey-blue--lighter;
        border-bottom: 0;

        #{ $self }__tabs {
            padding: 0;
        }

        #{ $self }__item {
            padding: 0;
        }

        #{ $self }__tab {
            font-size: 0.75rem;
            font-weight: $weight-medium;
            padding: 0 1rem;

            &::after {
                display: none;
            }

            &.is-active {
                font-weight: $weight-semibold;
            }

            &--terminal {
                --tab-background: #{ $c-grey-blue--lighter };
                --tab-background-hover: #{ $c-grey-blue--light };
                --tab-background-active: #{ $c-grey-blue--lighter };

                font-weight: $weight-semibold;
            }
        }
    }

    @include screen($screen-simple) {
        &__pagination {
            display: none;
        }

        &__tabs {
            padding-left: var(--tabs-gutter, 30px);
        }

        &__item {
            padding-left: 0;
            padding-right: $p-gutter--large;
        }
    }
}
