@import '../config/colors';
@import '../config/sizes';
@import '../mixins/stretch';
@import '../mixins/screen';
@import '../mixins/sr-only';
@import '../mixins/typography';

.teaser {
    $self: &;

    background-color: var(--teaser-background, transparent);
    color: var(--text-color);
    height: 100%;
    padding: $p-gutter;
    position: relative;
    width: 100%;

    &:focus,
    &:hover {
        .link__text {
            background-position-x: 0;
            background-size: 100% var(--link-border-width, 2px);
        }
    }

    &__breadcrumb {
        @include style-text-small;

        color: var(--teaser-breadcrumb-color, $c-blue--darker);

        span {
            &:last-child {
                &::after {
                    content: ' /';
                }
            }
        }
    }

    &__title {
        @include style-heading;

        color: var(--teaser-title-color, $c-blue--light);
        font-size: 1.375rem;
        margin: 0.5rem 0 0;
    }

    &__meta {
        color: var(--teaser-meta-color, $c-grey--dark);
        font-size: 0.8125rem;
        line-height: 1.3;
        margin: 0 0 0.4rem;
    }

    &__excerpt {
        @include style-text-small;

        color: var(--teaser-excerpt-color, $c-grey-blue--dark);
        margin: 0.5rem 0 0;
    }

    &__tags {
        --tag-background: #{ $c-white };

        margin-top: 0.5rem;
        z-index: 1;
    }

    &__link {
        @include stretch;

        border: 2px solid transparent;
        border-radius: $b-radius;
        transition: border-color 0.2s, background-color 0.2s;

        /* stylelint-disable no-descending-specificity */
        span {
            @include sr-only;
        }
        /* stylelint-enable no-descending-specificity */

        &:focus,
        &:hover {
            background: transparentize($c-blue, 0.94);
        }

        &:focus-visible {
            border-color: var(--teaser-border-focus, $c-blue);
        }
    }

    &--blog {
        --teaser-title-color: #{ $c-blue--darker };
        --teaser-excerpt-color: #{ $c-blue--darker };

        padding: 0;

        #{ $self }__title,
        #{ $self }__meta,
        #{ $self }__excerpt {
            margin: 0;
        }

        #{ $self }__image {
            aspect-ratio: 16 / 9;
            overflow: hidden;
            position: relative;
            width: 100%;

            img {
                @include stretch;

                object-fit: cover;
                transition: transform 0.3s ease-in-out;
            }
        }

        #{ $self }__title {
            @include style-heading-3;
        }

        #{ $self }__date {
            margin: 0;
        }

        #{ $self }__tags {
            margin-top: 1rem;
        }

        #{ $self }__content {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem 0;
        }

        #{ $self }__excerpt {
            @include style-text;
        }

        #{ $self }__readmore {
            color: var(--teaser-readmore-color, $c-blue--darker);
            height: 100%;
            padding: 0;
        }

        #{ $self }__link {
            &:focus,
            &:hover {
                background: var(--teaser-background, transparent);
            }
        }
    }

    @include screen($screen-simple) {
        padding: $p-gutter 1.5rem;

        &__heading {
            align-items: flex-start;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }

        &--blog {
            padding: 0;

            &:hover {
                #{ $self }__image {
                    img {
                        transform: scale(1.125) rotate(2deg);
                    }
                }
            }

            &#{ $self }--featured {
                display: flex;
                gap: $p-gutter--large;

                #{ $self }__title {
                    @include style-heading-2;
                }

                #{ $self }__content {
                    flex: 0 1 50%;
                    width: 50%;
                }

                #{ $self }__excerpt {
                    line-height: 2;
                }

                #{ $self }__image {
                    aspect-ratio: 5 / 4;
                    flex: 0 1 50%;
                    margin: 0;
                    width: 50%;
                }
            }
        }
    }

    @include screen($screen-normal) {
        padding: 1.5rem 2.5rem;

        &--blog {
            padding: 0;
        }
    }
}
