@import '../config/colors';
@import '../config/sizes';
@import '../mixins/stretch';
@import '../mixins/screen';
@import '../mixins/sr-only';
@import '../mixins/typography';

.teaser {
    $self: &;

    background-color: var(--teaser-background, transparent);
    color: var(--text-color);
    height: 100%;
    padding: $p-gutter;
    position: relative;
    width: 100%;

    &:focus,
    &:hover {
        .link__text {
            background-position-x: 0;
            background-size: 100% var(--link-border-width, 2px);
        }
    }

    &__title {
        @include style-heading;

        color: $c-blue--dark;
        font-size: 1.5rem;
        margin: 0 0 0.4rem;
    }

    &__meta {
        color: var(--teaser-meta-color, $c-grey--dark);
        font-size: 0.8125rem;
        line-height: 1.3;
        margin: 0 0 0.4rem;
    }

    &__excerpt {
        font-weight: $weight-medium;
        margin: 0.5rem 0 0;
    }

    &__link {
        @include stretch;

        border: 2px solid transparent;
        border-radius: $b-radius;
        transition: border-color 0.2s, background-color 0.2s;

        span {
            @include sr-only;
        }

        &:focus,
        &:hover {
            background: transparentize($c-blue, 0.94);
        }

        &:focus-visible {
            border-color: var(--teaser-border-focus, $c-blue);
        }
    }

    &--blog {
        padding: 0;

        #{ $self }__content {
            display: flex;
            flex-direction: column;
            gap: 14px;
            padding: 8px;
        }
        
        #{ $self }__link {
            &:focus,
            &:hover {
                background: var(--teaser-background, transparent);
            }
        }

        #{ $self }__meta, 
        #{ $self }__excerpt, 
        #{ $self }__title {
            margin: 0;
        } 

        #{ $self }__title {
            @include style-heading-3;
        }

        #{ $self }__image {
            height: 164px;
            margin: 0 0 12px;
            overflow: hidden;

            img {
                height: 100%;
                object-fit: cover;
                transition: transform 0.4s;
            }
        }

        .link {
            padding: 0;
        }
    }

    @include screen($screen-simple) {
        padding: 1.5rem;

        &--blog {
            padding: 0;

            &:hover {
                #{ $self }__image {
                    img {
                        transform: scale(1.125) rotate(2deg);
                    }
                }
            }

            #{ $self }__image {
                height: 130px;
            }
    
            &#{ $self }--featured {
                display: flex;
                gap: 3.375rem;
    
                #{ $self }__content {
                    width: 50%;
                }
    
                #{ $self }__excerpt {
                    color: $c-grey;
                    line-height: 2;
                }
                
                #{ $self }__image {
                    height: 340px;
                    margin: 0;
                    width: 50%;
                }
    
                #{ $self }__title {
                    font-size: 2rem;
                }
            }
        
        }

        &__heading {
            align-items: flex-start;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }

        &__tags {
            margin-top: 4px;
        }
    }

    @include screen($screen-normal) {
        padding: 1.5rem 2.5rem;

        &--blog {
            padding: 0;
        }
    }
}
