@use 'sass:color';
@import '../config/colors';
@import '../config/typography';
@import '../mixins/list-reset';
@import '../mixins/svg';

.toc {
    $self: &;

    margin-left: 1.5rem;

    &__list {
        @include list-reset;
    }

    &__item {
        position: relative;
    }

    &__link {
        color: var(--toc-link-color, color.scale($c-blue--darker, $alpha: -20%));
        display: block;
        font-size: 0.875rem;
        font-weight: $weight-light;
        line-height: 1.5;
        padding: 0.25rem 0.25rem 0.25rem 1.5rem;
        text-decoration: none;

        &::before {
            @include svg(note, $c-yellow);

            height: 1rem;
            left: 0;
            opacity: 0.6;
            position: absolute;
            top: 7px;
            width: 1rem;
        }

        &:hover,
        &:focus {
            color: $c-blue--light;

            #{ $self }__text {
                background-position-x: 0;
                background-size: 100% 1px;
            }
        }

        #{ $self }__text {
            background: linear-gradient(
                var(--toc-link-hover, $c-yellow),
                var(--toc-link-hover, $c-yellow)
            ) no-repeat 100% 100%;
            background-size: 0 1px;
            transition: background-color 0.2s ease-in-out, background-size 0.2s ease-in-out;
        }
    }
}
