@import '../config/colors';
@import '../config/typography';
@import '../mixins/list-reset';
@import '../mixins/svg';

.toc {
    $self: &;

    color: $c-blue--darker;
    font-weight: $weight-normal;
    margin-left: 28px;
    opacity: 0.8;

    &__list {
        @include list-reset;
    }

    &__item {
        position: relative;
    }

    &__link {
        display: block;
        font-size: 0.875rem;
        opacity: 0.8;
        padding: .25rem .25rem .25rem 1.5rem;
        text-decoration: none;

        &::before {
            @include svg(note, $c-yellow);

            height: 16px;
            left: 0;
            position: absolute;
            top: 5px;
            width: 16px;
        }

        &:hover,
        &:focus {
            span {
                background-position-x: 0;
                background-size: 100% 1px;
            }
        }

        span {
            background: linear-gradient($c-yellow, $c-yellow) no-repeat 100% 100%;
            background-size: 0 1px;
            transition: background-size .2s ease-in-out;
        }
    }
}
