@import '../config/colors';
@import '../config/sizes';
@import '../config/typography';

.todo {
    $self: &;

    --todo-color: #{ $c-pink };

    align-items: center;
    border: 2px dashed var(--todo-color);
    border-radius: 10px;
    color: var(--todo-color);
    display: flex;
    justify-content: center;
    padding: $p-gutter;
    position: relative;

    &__note {
        background-color: var(--todo-color);
        border-radius: 5px;
        color: $c-white;
        font-size: 0.875rem;
        font-weight: $weight-bold;
        left: 4px;
        line-height: 1;
        padding: 4px 5px;
        position: absolute;
        top: 4px;
    }

    // &__desc {
    // }
}
