@import '../config/colors';
@import '../config/sizes';
@import '../config/typography';
@import '../mixins/list-reset';
@import '../mixins/svg';

.tree {
    $self: &;

    line-height: 1.5;
    margin: 0 0 1rem;
    overflow: auto;
    padding: .5rem 2rem;

    &__list {
        @include list-reset;

        margin: .25rem 0;
    }

    &__item {
        display: block;
        position: relative;
        min-height: 2rem;

        &.is-active {
            &::before {
                background-color: $c-yellow;
                content: "";
                height: 3px;
                left: -1.25rem;
                position: absolute;
                top: 15px;
                width: 12px;
            }
        }
    }

    &__link {
        display: block;
        text-decoration: none;
    }

    &__text {
        color: $c-blue--darker;
        display: inline;
        font-weight: $weight-bold;
    }

    .is-book {
        & > #{ $self }__list {
            margin: .5rem 0;
        }

        #{ $self }__item {
            margin-top: .75rem;

            #{ $self }__link {
                border-bottom: 1px solid transparentize($c-blue, .7);
                transition: border-color .2s;

                &:hover,
                &:focus {
                    border-color: $c-blue;
                }
            }

            #{ $self }__text {
                font-size: 1.25rem;
            }
        }
    }

    .is-chapter,
    .is-page {
        #{ $self }__item {
            margin-top: 0;

            #{ $self }__link {
                border-bottom: none;
                transition: none;
                margin-bottom: 0;
                padding: .25rem 0;

                &:hover,
                &:focus {
                    #{ $self }__text {
                        background-position-x: 0;
                        background-size: 100% 1px;
                    }
                }
            }

            #{ $self }__text {
                background: linear-gradient($c-yellow, $c-yellow) no-repeat 100% 100%;
                background-size: 0 1px;
                font-size: 1rem;
                font-weight: $weight-medium;
                padding-bottom: 2px;
                transition: background-size .2s ease-in-out;
            }
        }
    }

    .is-page {
        #{ $self }__item {
            #{ $self }__link {
                padding-left: 30px;

                &::before {
                    @include svg(page, currentColor);

                    height: 20px;
                    left: 0;
                    position: absolute;
                    top: 6px;
                    width: 20px;
                }
            }

            #{ $self }__text {
                font-weight: $weight-normal;
            }
        }
    }
}
