@import '../config/colors';
@import '../config/sizes';
@import '../mixins/center';
@import '../mixins/object-fit';
@import '../mixins/screen';
@import '../mixins/sr-only';
@import '../mixins/stretch';
@import '../mixins/typography';

.video {
    $self: &;

    aspect-ratio: 16 / 9;
    background-color: var(--video-background, $c-blue--darker);
    clear: both;
    color: $c-white;
    margin: 2rem (-$p-gutter);
    overflow: hidden;
    position: relative;

    &__image {
        @include object-fit;

        margin: 0;
        opacity: 0.8;
        position: absolute;
    }

    &__button {
        @include stretch;

        text-decoration: none;

        &:focus,
        &:hover {
            #{ $self }__icon {
                transform: scale(1.1);
            }
        }

        span {
            @include sr-only;
        }
    }

    &__content {
        align-items: flex-end;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        padding: 0 $p-gutter $p-gutter;
        position: absolute;
        width: 100%;

        &--no-title {
            justify-content: flex-end;
        }
    }

    &__title {
        @include style-heading-4;

        color: var(--video-title-color, $c-white);
        margin-top: 0;
        text-shadow: 0 0 2px $c-black;
        text-transform: none;
    }


    &__icon {
        flex-shrink: 0;
        height: 50px;
        transition: transform 0.3s ease-in-out;
        width: auto;
    }


    @include screen($screen-simple) {
        &__content {
            padding: 0 $p-gutter--large $p-gutter;
        }

        &__icon {
            height: 60px;
        }
    }

    @include screen($screen-normal) {
        margin: 2rem auto;

        &__icon {
            height: 70px;
        }
    }
}
