{{ $tags := slice }}
{{- if .Params.tags -}}
    {{ $tagOptions := .Site.Params.Tags | default slice }}
    {{ $tags = where $tagOptions "name" "in" .Params.tags | default slice }}
{{- end -}}

<header class="article__header{{ if or .Params.meta .Date $tags }} article__header--extended{{ end }}">
    <h1 class="article__title">{{ .Title }}</h1>
    {{- if or .Params.meta .Date $tags -}}
        <div class="article__info">
            {{- $meta := slice -}}
            {{- if .Date -}}
                {{- $meta = $meta | append (dict "type" "date" "value" (.Date.Format ($.Param "time_format"))) -}}
            {{- end -}}
            {{- if .Params.meta -}}
                {{- $meta = $meta | append .Params.meta -}}
            {{- end -}}
            {{- if $meta | len -}}
                <div class="article__meta">{{ partial "meta" $meta }}</div>
            {{- end -}}
            {{- if $tags -}}
                <div class="article__tags">{{- partial "tags.html" (dict "tags" $tags ) -}}</div>
            {{- end -}}
        </div>
    {{- end -}}
</header>
