{{ $authorsPages := .Site.GetPage "/authors" }}
{{ $articleAuthors := .Params.Authors | default false }}

<div class="authors">
    {{ range $authorName := .Params.Authors }}
        {{ $pagePath := printf "%s/index.md" $authorName }}
        {{ $authorMatches := $authorsPages.Resources.Match $pagePath }}

        {{ range first 1 $authorMatches }}
            <details class="authors__item" data-dropdown>
                <summary class="authors__avatar">
                    <img class="authors__image" src="https://github.com/{{ .Params.github }}.png" alt="{{ .Params.github|default .Params.name }}">

                    <span class="authors__author-name">{{ .Params.name }}</span>
                </summary>

                <div class="authors--popover">
                    <div class="authors__avatar">
                        <img class="authors__image" src="https://github.com/{{ .Params.github }}.png" alt="{{ .Params.github|default .Params.name }}">

                        <div class="authors__name">
                            <span class="authors__display-name">{{ .Params.github }}</span>

                            <span class="authors__author-name">{{ .Params.name }}</span>
                        </div>
                    </div>

                    <div class="authors__links">
                        <div class="authors__github">

                            <a class="authors__link" href="https://github.com/{{ .Params.github }}">
                                {{ partial "icon.html" (dict "icon" "github" "class" "authors__icon") }}
                                <p>
                                    <span class="authors__link-text">{{ T "author_github" }}</span>
                                </p>
                            </a>
                        </div>

                        <div class="authors__search">
                            <a class="authors__link" href="/search/?q=author:{{ replace .Name "/index.md" ""  }}">
                                {{ partial "icon.html" (dict "icon" "search" "class" "authors__icon") }}
                                <p>
                                    <span class="authors__link-text">{{ T "author_search" }}</span>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </details>
        {{ end }}
    {{ end }}
</div>
