{{ $items := . }}
{{ if $items }}
    <ul class="meta">
        {{ range $index, $item := $items}}
            {{ if and .type .value }}
                {{ $value := .value }}
                {{- if eq .type "readingTime" -}}
                    {{- $value = print (T "ui_min_read") | print " " | print .value -}}
                {{ end }}
                 <li class="meta__item">
                    <span class="meta__value">{{ $value }}</span>
                </li>
            {{ end }}
        {{ end }}
    </ul>
{{ end }}
