{{ $action := .action | default .RelPermalink }}
{{ $inputId := .id | default "searchbar"}}
{{ $modifier := .modifier | default "" }}
{{ $type := .type | default "" }}

<div data-search-autocomplete="{{ $type }}"
     data-searchbar-size="{{ if not (eq $type "results") }}small{{ end }}">
    <div id="autocomplete-{{ $type }}"></div>

    <div class="searchbar__footer">
        {{ if eq $type "results" }}
            <div class="searchbar__results is-hidden">
                {{ T "ui_search_results" }}
            </div>
        {{ end }}

        <div class="searchbar__logo">
            {{ with resources.Get "svg/algolia-search.svg" }}{{ ( . | minify ).Content | safeHTML }}{{ end }}
        </div>
    </div>
</div>
