+++
title = "CUE"
linkTitle = "CUE"
+++


{{< blocks/cover title="" image_anchor="top" height="min" color="light"  >}}
<div class="col-lg-6">
	<h3>
		<img alt="CUE" width="130" src="/images/cue.svg" />
		配置 <span style="font-size: 0.7em">(<b>C</b>onfigure)</span>
		统一 <span style="font-size: 0.7em">(<b>U</b>nify)</span>
		执行 <span style="font-size: 0.7em">(<b>E</b>xecute)</span>
	</h3>
	<p class="display-2 mt-3 mb-0">
		验证、定义、使用动态以及文本式的数据
	</p>
	<div class="pt-3 mt-3 lead text-center">
		<div class="mx-auto">
			<a class="btn btn-lg btn-primary mr-3 mb-4" href="/zh-cn/docs" >
			了解更多 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
			</a>
			<a class="btn btn-lg btn-secondary mr-3 mb-4" href="/releases">
				下载 <i class="fab fa-github ml-2 "></i>
			</a>
		</div>
	</div>
</div>
<div class="col-lg-6 mt-5 mt-lg-3 d-sm-block" style="display: none">
	<asciinema-player
			loop autoplay speed=2 font-size="12px" rows=17 cols=80
			src="/cue.cast"></asciinema-player>
</div>
<div class="col-12 pt-3">
	<div class="pt-3 lead text-center">
		<div class="mx-auto">
			<p class="lead mt-3">掌控你的数据</p>
			<div class="mx-auto mt-3">
				{{< blocks/link-down color="light-secondary" >}}
			</div>
		</div>
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="secondary" %}}
**CUE** 是一门开源语言，有丰富的 API 和 工具链。可以用于定义、生成以及校验各种各样的数据：

配置、API、数据库结构、代码等等，应有尽有。
{{% /blocks/lead %}}


{{< blocks/section color="dark" >}}

<!-- todo: replace with zh-cn urls-->
{{% blocks/feature icon="fa-check-circle" title="数据验证" url="/docs/usecases/validation/" %}}
校验文本格式的数据文件或程序数据，
比如传入的 RPC 数据或数据库文档文件。
{{% /blocks/feature %}}

<!-- todo: replace with zh-cn urls-->
{{% blocks/feature icon="fa-list-alt" title="配置" url="/docs/usecases/configuration/" %}}
能对已有的数据（CUE、YAML、JSON）添加校验，同时也能减少大规模配置中的样板代码。
{{% /blocks/feature %}}


<!--
life-ring map newspaper pause-circle play-circle stop-circle user clipboard comments (two bubbles) file-alt file-code handshake map -->
<!-- todo: replace with zh-cn urls-->
{{% blocks/feature icon="fa-handshake" title="定义 Schema"  url="/docs/usecases/datadef/" %}}
定义 Schema 作为数据标准，与 API 通信或者验证向后兼容性。
<br>
<br>
{{% /blocks/feature %}}

<!-- todo: replace with zh-cn urls-->
{{% blocks/feature icon="fa-file-code" title="生成代码和结构" url="/docs/usecases/generate/" %}}

使验证代码在代码库、Protobuf 定义以及 OpenAPI 定义之间保持同步

{{% /blocks/feature %}}


<!-- todo: replace with zh-cn urls-->
{{% blocks/feature icon="fas fa-wrench" title="脚本" url="/docs/usecases/scripting/" %}}
让数据的使用自动化，而无需编写其他工具。
{{% /blocks/feature %}}

<!-- todo: replace with zh-cn urls-->
{{% blocks/feature icon="fa-question-circle" title="查找" url="/docs/usecases/query/" %}}
在数据中定位 CUE 类型或值实体的位置。<br>
即将推出。
<br>

{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section color="white" >}}

<div class="col-lg-12">
	<h2 class="text-center">集成</h2>
</div>

<div class="col-lg-4">
	<p class="text-center showcase">
		<br>
		<br>
		{{<imglink ref="json" lang="zh-cn" height="70" src="json.svg" >}}
	</p>
</div>

<div class="col-lg-4">
	<p class="text-center showcase">
		{{<imglink ref="go" height="180" src="go.png" >}}
	</p>
</div>

<div class="col-lg-4">
	<p class="text-center showcase">
		{{<imglink ref="protobuf" height="220" src="protobuf_nano.png" >}}
	</p>
</div>

<div class="col-lg-4">
	<p class="text-center showcase">
		{{<imglink ref="yaml" height="50" src="yaml.png" >}}
	</p>
	<br>
</div>

<div class="col-lg-4">
	<p class="text-center showcase">
		{{<imglink ref="openapi" height="70" src="openapi-wide.svg" >}}
	</p>
	<br>
</div>

<div class="col-lg-4">
	<p class="text-center showcase">
		{{<imglink ref="k8s" height="80" src="k8s.svg" >}}
	</p>
	<br>
</div>

<div class="col-lg-12">
	<br>
	<br>
</div>


<div class="col-lg-12">
	<h2 class="text-center">CUE 的用户</h2>
	<br>
</div>


<div class="col-lg-4">
	<p class="text-center showcase">
		<a href="https://www.salesforce.com" target="_blank">
			<img alt="Salesforce" height="90" src="/images/Salesforce_Logo_RGB_1797c0_8_13_14.png"/>
		</a>
	</p>
	<br>
	<br>
</div>

<div class="col-lg-4">
	<p class="text-center showcase">
		<a href="https://www.ntt.com" target="_blank">
			<img alt="NTT Communications" height="90" src="/images/ntt.png"/>
		</a>
	</p>
	<br>
	<br>
</div>

<div class="col-lg-4">
	<p class="text-center showcase">
		<a href="https://istio.io" target="_blank">
			<img alt="Istio" height="80" src="/images/istio.png"/>
		</a>
	</p>
	<br>
	<br>
</div>

</p>
{{< /blocks/section >}}

<div class="col-lg-12">
	<font size=-3 color=lightgrey>© 2020 Salesforce.com, inc. Used with permission.</font>
</div>
