/_public
/hugo
/play
/playground
/resources
/themes

# Contains the preprocessor for alpha.cuelang.org
/.gobin

# Ignore node_modules everywhere
node_modules

# Ignore Hugo build locks everywhere
.hugo_build.lock
