# Package & Version Managers
node_modules
/.nvmrc

# IDE's
/.idea
.vscode/

# Project
/_public/
/playground/_dist/
/playground/.webpack_cache/
/playground/main.wasm
/hugo/resources/
/hugo/.hugo_build.lock
/hugo/static/playground/
/hugo/.env

# Well-known location for go binaries
/.gobin
