<nav class="tree">
    {{ $current := . -}}
    {{ $navRoot := "" -}}

    {{- if ( or (eq $current .FirstSection) (eq $current.Params.toc_root true)) -}}
        {{ $navRoot = $current }}
    {{- end -}}

    {{- if (eq $navRoot "") -}}
        {{ $parent := .Parent -}}
        {{- if (eq $parent.Params.toc_root true) -}}
            {{ $navRoot = $parent -}}
        {{- else -}}
            {{ $parent = $parent.Parent -}}
            {{- if (eq $parent.Params.toc_root true) -}}
                {{ $navRoot = $parent -}}
            {{- else -}}
                {{ $navRoot = .FirstSection -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}

    {{ $depth := 1 -}}
    {{ $maxDepth := 3 -}}

    {{ $toc := .TableOfContents -}}
    {{ $pages := where (union $navRoot.Pages $navRoot.Sections).ByWeight ".Params.toc_hide" "!=" true -}}

    <ul class="tree__list is-book">
        {{ range $pages -}}
            {{ $isActiveChapter := ($current.IsDescendant .) -}}
            {{ if (not (and (eq $navRoot $current.Site.Home) (eq .Params.toc_root true))) -}}
                {{ template "tree-nav-section" (dict
                    "page" $current
                    "section" .
                    "toc" $toc
                    "depth" $depth
                    "maxDepth" $maxDepth
                    "isActiveChapter" $isActiveChapter
                ) }}
            {{- end }}
        {{- end }}
    </ul>
</nav>

{{ define "tree-nav-section" -}}
    {{ $s := .section -}}
    {{ $p := .page -}}
    {{ $toc := .toc -}}
    {{ $depth := .depth -}}
    {{ $maxDepth := .maxDepth -}}
    {{ $isActiveChapter := .isActiveChapter -}}
    {{ $isActive := (eq $s $p) -}}
    {{ $isActivePath := ($p.IsDescendant $s) -}}

    {{ $pages := where (union $s.Pages $s.Sections).ByWeight ".Params.toc_hide" "!=" true -}}

    {{- $isPage := gt (add $depth 1) 2 }}
    {{- $isPageOfInactivePath := cond $isActive false (and $isPage (not $isActivePath)) }}
    {{ $withChildren := and (gt (len $pages) 0) (ne $depth $maxDepth) (not $isPageOfInactivePath) -}}
    {{ $showChildren := and (or $isActive $isActivePath $isActiveChapter) $withChildren }}

    <li class="tree__item{{ if $showChildren }} has-children{{ end }}{{ if $isActivePath }} is-active-path{{ end }}{{ if $isActive }} is-active{{ end }}">
        <a class="tree__link" href="{{ $s.RelPermalink }}" title="{{ $s.LinkTitle }}"{{ if $s.Params.disabled }} disabled{{ end }}>
            <span class="tree__text">{{ $s.LinkTitle }}</span>
        </a>

        {{- if $isActive }}
            {{ partial "paging/table-of-contents.html" (dict "toc" $toc) }}
        {{- end }}

        {{- if $showChildren }}
            {{- $depth := add $depth 1 }}
            <ul class="tree__list {{ if gt $depth 2 }}is-page{{ else }}is-chapter{{ end }}">
                {{ range $pages -}}
                    {{- $isRoot := (and (eq $s $p.Site.Home) (eq .Params.toc_root true)) }}
                    {{ if and (not $isRoot) -}}
                        {{ template "tree-nav-section" (dict
                            "page" $p
                            "section" .
                            "toc" $toc
                            "depth" $depth
                            "maxDepth" $maxDepth
                            "isActiveChapter" $isActiveChapter
                        ) }}
                    {{- end }}
                {{- end }}
            </ul>
        {{- end }}
    </li>
{{- end -}}
