@import '../config/colors';
@import '../config/prefix';
@import '../config/typography';
@import '../mixins/button';

.#{ $prefix }-button {
    $self: &;

    @include button-base;

    @include button-style(
        var(--button-background, #{ $c-blue--light }),
        var(--button-border, #{ $c-blue--light }),
        var(--button-color, #{ $c-white }),
        var(--button-background-hover, #{ $c-blue }),
        var(--button-border-hover, #{ $c-blue }),
        var(--button-color-hover, #{ $c-white }),
        var(--button-background-disabled, #{ $c-grey }),
        var(--button-border-disabled, #{ $c-grey }),
        var(--button-color-disabled, #{ $c-white })
    );

    &__icon {
        display: block;
        height: 20px;
        line-height: 1;
        width: 20px;
    }

    &--grey {
        --button-background: #{ $c-grey-blue--lightest };
        --button-border: #{ $c-grey-blue--lightest };
        --button-color: #{ $c-blue--darker };
        --button-background-hover: #{ $c-grey-blue--lightest };
        --button-border-hover: #{ darken($c-grey--light, 15%) };
        --button-color-hover: #{ $c-blue--darker };
        --button-background-disabled: #{ $c-grey-blue--medium };
        --button-border-disabled: #{ $c-grey--light };
        --button-color-disabled: #{ $c-grey-blue--darker };
    }

    &--grey-outline {
        --button-background: #{ $c-grey-blue--light };
        --button-border: #{ $c-grey-blue--darker };
        --button-color: #{ $c-blue--darker };
        --button-background-hover: #{ $c-blue--darker };
        --button-border-hover: #{ $c-blue--darker };
        --button-color-hover: #{ $c-white };
        --button-background-disabled: #{ $c-grey-blue--medium };
        --button-border-disabled: #{ $c-grey--light };
        --button-color-disabled: #{ $c-grey-blue--darker };
    }

    &--transparent {
        --button-background: transparent;
        --button-border: transparent;
        --button-color: #{ $c-grey-blue--darker };
        --button-background-hover: #{ $c-grey-blue--lightest };
        --button-border-hover: #{ $c-grey-blue--lightest };
        --button-color-hover: #{ $c-blue--darker };
        --button-background-disabled: transparent;
        --button-border-disabled: transparent;
        --button-color-disabled: #{ $c-grey-blue--medium };
    }
}
