@import '../config/colors';
@import '../config/prefix';
@import '../config/sizes';
@import '../mixins/screen';

.#{ $prefix }-columns {
    background: $c-grey-blue;
    display: grid;
    gap: 2px;
    max-height: 100vh;
    max-width: 100vw;
    padding: 4px;

    &__item {
        .#{ $prefix }-tabs,
        pre {
            border: 0;
            height: 100%;
            margin: 0;
        }
    }

    @include screen($screen-simple) {
        grid-template-columns: 50% 50%;

        &__item {
            &:only-child {
                grid-column: span 2;
            }
        }
    }
}
