@import '../config/colors';
@import '../config/prefix';
@import '../config/sizes';
@import '../mixins/screen';

.#{ $prefix }-columns {
    background: $c-grey-blue;
    display: grid;
    gap: 2px;
    max-width: 100vw;
    padding: 4px;

    &__item {
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
        min-height: 40vh;

        .#{ $prefix }-tabs,
        pre {
            border: 0;
            height: 100%;
            margin: 0;
        }
    }

    &__subitem {
        height: 40vh;
    }

    &--function {
        grid-template-rows: 50% 50%;
    }

    @include screen($screen-simple) {
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        max-height: calc(100vh - $h-header);

        &__item {
            min-height: 0;

            &:only-child {
                grid-column: span 2;
            }
        }

        &__subitem {
            height: auto;
        }
    }
}
