@import '../config/colors';
@import '../config/prefix';
@import '../config/sizes';
@import '../mixins/list-reset';

.#{ $prefix }-dropdown {
    position: relative;

    &__button {
        .#{ $prefix }-button__icon {
            margin: 1px -6px 0 4px;
            transition: rotate 0.2s;

            .is-open & {
                rotate: 180deg;
            }
        }
    }

    &__content {
        background-color: $c-white;
        border: 1px solid transparentize($c-black, 0.85);
        border-radius: $b-radius;
        left: 0;
        margin: 0.125rem 0 0;
        min-width: 10rem;
        padding: 0.5rem 0;
        position: absolute;
        top: 100%;
        z-index: 10;
    }

    &__list {
        @include list-reset;
    }

    &__link {
        display: block;
        padding: 0.4rem 1rem;
        text-decoration: none;
        transition: background-color 0.2s;
        width: 100%;

        &:focus-visible,
        &:hover {
            background-color: $c-grey--lighter;
        }
    }
}
