@import '../config/colors';
@import '../config/prefix';

.#{ $prefix }-editor {
    background: $c-white-vscode;
    padding-top: 1rem;

    &--terminal {
        background: $c-grey-blue--lighter;

        .monaco-editor {
            --vscode-editor-background: #{ $c-grey-blue--lighter };
            --vscode-breadcrumb-background: #{ $c-grey-blue--lighter };
            --vscode-editorGutter-background: #{ $c-grey-blue--lighter };
            --vscode-editorMarkerNavigation-background: #{ $c-grey-blue--lighter };
            --vscode-editorStickyScroll-background: #{ $c-grey-blue--lighter };
        }
    }
}
