@import '../config/colors';
@import '../config/prefix';

.#{ $prefix }-editor {
    background: $c-white;
    padding-top: 1rem;

    &--terminal {
        background: $c-output-bcg;

        .monaco-editor {
            --vscode-editor-background: #{ $c-output-bcg };
            --vscode-breadcrumb-background: #{ $c-output-bcg };
            --vscode-editorGutter-background: #{ $c-output-bcg };
            --vscode-editorMarkerNavigation-background: #{ $c-output-bcg };
            --vscode-editorStickyScroll-background: #{ $c-output-bcg };
        }
    }
}
