@import '../config/colors';
@import '../config/prefix';

.#{ $prefix }-editor {
    background: $c-white;
    height: 100%;
    max-width: 100vw;
    padding-top: 1rem;

    .cm-editor {
        height: 100%;
    }

    &--terminal {
        background: $c-output-bcg;

        .cm-editor,
        .cm-gutters {
            background: $c-output-bcg;
        }

        .cm-activeLine,
        .cm-activeLineGutter {
            background: $c-output-highlight;
        }
    }
}
