$c-blue--lightest:      #f8f9fd;
$c-blue--lighter:       #f0f2fb;
$c-blue--light:         #1b3987;
$c-blue:                #232a68;
$c-blue--dark:          #0c2c65;
$c-blue--darker:        #0f1333;

$c-grey-blue--lighter:  #f1f2f6;
$c-grey-blue--light:    #e7e8ee;
$c-grey-blue:           #e0e2eb;

$c-red--lighter:        #ffbcbc;
$c-red--light:          #de4a4b;
$c-red:                 #ed1c24;
$c-red--dark:           #af151b;

$c-yellow--light:       #ffeaaf;
$c-yellow:              #fdc52f;
$c-yellow--dark:        #dcab27;

$c-pink:                #ff007f;

$c-white:               #fff;
$c-black:               #000;

$c-grey--lightest:      #f8f9fd;
$c-grey--lighter:       #f3f2f0;
$c-grey--light:         #e5e5e5;
$c-grey:                #747474;
$c-grey--dark:          #5c5c5c;
$c-grey--darker:        #4a4a4a;
$c-grey--darkest:       #231f20;

$c-error:               $c-red;
$c-success:             #16b51e;
$c-input:               $c-grey;
