// SCREENSIZES
$screen-xsmall:                 340px;
$screen-minimal:                480px;
$screen-simple:                 768px;
$screen-normal:                 1024px;
$screen-large:                  1280px;
$screen-xlarge:                 1440px;
$screen-huge:                   1680px;
$screen-jumbo:                  1920px;

// BUTTONS & FORMS
$h-button:                      46px;
$h-button--small:               32px;

// BORDER
$b-radius: 3px;

// SPACING
$sp-xs: 1rem;
$sp-sm: 1.5rem;
$sp-md: 2rem;
$sp-lg: 3rem;
$sp-xl: 4rem;
