{{ define "main" }}
    <section class="section section--blog section--blue">
        <header class="section__header">
            <div class="section__content">
                <h1 class="section__title">{{ .Title }}</h1>
                {{- with .Content -}}
                    <div class="section__intro">{{ . }}</div>
                {{- end -}}
            </div>
        </header>

        {{- if .Pages -}}
            <div class="section__body">
                <div class="section__content">
                    <div class="blogs">
                        <ul class="blogs__list">
                            {{ range .Pages }}
                                <li class="blogs__item">
                                    {{ partial "teaser--blog.html" . }}
                                </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>

            <footer class="section__footer">
                <div class="section__content">
                    {{- partial "paging/pages.html" . -}}
                </div>
            </footer>
        {{ end }}
    </section>
{{ end }}
