{{ define "main" }}
{{ $tags := slice }}
{{- if .Params.tags -}}
    {{ $tagOptions := .Site.Params.Tags | default slice }}
    {{ $tags = where $tagOptions "name" "in" .Params.tags | default slice }}
{{- end -}}

    {{ partial "paging/back-button.html" . }}

    <article class="article article--blog">
        <div class="article__container">
            {{- partial "article--header" . -}}
            <div class="article__content">
                {{- .Content -}}
            </div>
            
            <footer class="article__footer">
                {{- if $tags -}}
                    {{- partial "tags.html" (dict "modifier" "large" "tags" $tags ) -}} 
                {{- end -}}
            </footer>
        </div>
    </article>

    {{ partial "paging/prev-next.html" . }}
{{ end }}
