{{ define "main" }}
    <section class="section section--blue section--search">
        <header class="section__header">
            <div class="section__content">
                <h1 class="section__title">{{ .Title }}</h1>
            </div>
        </header>
        <div class="section__body">
            <div class="section__content">
                {{- partial "searchbar.html" (dict
                    "type" "results"
                    "inputId" "searchbar"
                ) -}}

                <div class="search"></div>
            </div>
        </div>
    </section>
{{ end }}
