{{ $sticky_note := .Params.sticky_note | default $.Site.Params.sticky_note  | default nil -}}
{{ with $sticky_note -}}
    <div class="sticky-note" data-sticky-note>
        <div class="sticky-note__container">
            <div class="sticky-note__content">
                {{ .content | markdownify }}
            </div>
            {{ if .cta -}}
                <a class="button button--outline sticky-note__cta" href="{{ .cta.link }}">
                    <span class="button__text">{{ .cta.text }}</span>
                    {{ if .cta.icon }}{{ partial "icon.html" (dict "icon" .cta.icon "class" "button__icon") }}{{ end }}
                </a>
            {{ end -}}
            <button type="button" class="button button--icon button--small sticky-note__close">
                {{ partial "icon.html" (dict "icon" "close" "class" "button__icon") }}
                <span class="button__text">{{ T "ui_close" }}</span>
            </button>
        </div>
    </div>
{{ end -}}
