//
// Inter (latin1, 300, 400, 500, 600, 700)
// https://gwfh.mranftl.com/fonts/inter
//

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/inter/300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('/fonts/inter/300.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src:
        url('/fonts/inter/regular.woff2') format('woff2'), // Chrome 26+, Opera 23+, Firefox 39+
        url('/fonts/inter/regular.woff') format('woff'); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src:
        url('/fonts/inter/500.woff2') format('woff2'), // Chrome 26+, Opera 23+, Firefox 39+
        url('/fonts/inter/500.woff') format('woff'); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src:
        url('/fonts/inter/600.woff2') format('woff2'), // Chrome 26+, Opera 23+, Firefox 39+
        url('/fonts/inter/600.woff') format('woff'); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src:
        url('/fonts/inter/700.woff2') format('woff2'), // Chrome 26+, Opera 23+, Firefox 39+
        url('/fonts/inter/700.woff') format('woff'); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}

@font-face {
    font-display: swap;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src:
        url('/fonts/roboto-mono/regular.woff2') format('woff2'), // Chrome 26+, Opera 23+, Firefox 39+
        url('/fonts/roboto-mono/regular.woff') format('woff'); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}

