@import '../config/colors';
@import '../config/sizes';
@import '../config/typography';
@import '../mixins/screen';

//
// Text
//
@mixin style-text {
    font-family: $font-inter;
    font-size: 16px;
    line-height: 1.75;
}

@mixin style-text-small {
    font-size: 0.875rem;
    line-height: 1.5;
}

@mixin style-text-credits {
    color: $c-white;
    font-size: 1rem;
    text-shadow: 0 0 2px transparentize($c-black, 0.6);
}

@mixin style-monospaced {
    font-family: $font-monospace;
    font-size: 1.125rem;
    line-height: 1.5;
}

//
// Header Styles + 1 ~ 6
//

@mixin style-heading {
    font-family: $font-inter;
    font-weight: $weight-bold;
    line-height: 1.2;
}

@mixin style-heading-1 {
    --heading-1-font-size: 2.125rem;

    font-size: var(--heading-1-font-size);

    @include screen($screen-simple) {
        --heading-1-font-size: 2.5rem;
    }
}

@mixin style-heading-2 {
    --heading-2-font-size: 1.5rem;

    font-size: var(--heading-2-font-size);

    @include screen($screen-simple) {
        --heading-2-font-size: 1.625rem;
    }
}

@mixin style-heading-3 {
    --heading-3-font-size: 1.25rem;

    font-size: var(--heading-3-font-size);

    @include screen($screen-simple) {
        --heading-3-font-size: 1.375rem;
    }
}

@mixin style-heading-4 {
    --heading-4-font-size: 1.125rem;

    font-size: var(--heading-4-font-size);

    @include screen($screen-simple) {
        --heading-4-font-size: 1.25rem;
    }
}

@mixin style-heading-5 {
    --heading-5-font-size: 1rem;

    font-size: var(--heading-5-font-size);

    @include screen($screen-simple) {
        --heading-5-font-size: 1.125rem;
    }
}

// Special

@mixin style-heading-article {
    font-size: 2.75rem;

    @include screen($screen-simple) {
        font-size: 3rem;
    }

    @include screen($screen-normal) {
        font-size: 3.25rem;
    }

    @include screen($screen-large) {
        font-size: 3.5rem;
    }

    @include screen($screen-xlarge) {
        font-size: 3.75rem;
    }
}


@mixin style-heading-banner {
    --heading-1-font-size: 2rem;

    font-size: 2rem;

    @include screen($screen-minimal) {
        font-size: 2.25rem;
    }

    @include screen($screen-simple) {
        font-size: 2.5rem;
    }

    @include screen($screen-normal) {
        font-size: 3rem;
    }
}
