$c-blue--lightest:      #f8f9fd;
$c-blue--lighter:       #f0f2fb;
$c-grey--light-mid:     #e6e8f3;
$c-blue--light:         #1b3987;
$c-blue:                #232a68;
$c-blue--bright:        #063AC0;
$c-blue--dark:          #0c2c65;
$c-blue--darker:        #0f1333;

$c-grey-blue--lighter:  #f9faff;
$c-grey-blue--light:    #eef0f7;
$c-grey-blue:           #e8eaf2;
$c-grey-blue--medium:   #cdcdd6;
$c-grey-blue--dark:     #585b71;
$c-grey-blue--darker:   #50515c;

$c-red--lighter:        #ffbcbc;
$c-red--light:          #de4a4b;
$c-red:                 #ed1c24;
$c-red--dark:           #af151b;

$c-yellow--light:       #ffeaaf;
$c-yellow:              #fdc52f;
$c-yellow--dark:        #dcab27;

$c-pink:                #ff007f;

$c-filter-red:          #fc9799;
$c-filter-orange:       #fcc199;
$c-filter-green:        #cbdaaa;
$c-filter-pink:         #fc97c3;
$c-filter-purple:       #d6a0de;
$c-filter-lila:         #9fb8de;
$c-filter-blue:         #97d8fe;
$c-filter-lavender:     #97b9fe;

$c-lavender--light:     #dde3fd;

$c-white:               #fff;
$c-black:               #000;

$c-grey--lightest:      #f8f9fd;
$c-grey--lighter:       #f3f2f0;
$c-grey--light:         #e5e5e5;
$c-grey:                #747474;
$c-grey--dark:          #5c5c5c;
$c-grey--darker:        #50515C;
$c-grey--darkest:       #231f20;

$c-error:               $c-red;
$c-success:             #16b51e;
$c-input:               $c-grey;

// Socials
$c-facebook:            #3b5998;
$c-instagram:           #8a3ab9;
$c-linkedin:            #0077b5;
$c-twitter:             #55acee;
$c-whatsapp:            #34af23;
$c-youtube:             #cd201f;

// Scrollbar
$c-scrollbar-color:         #ccc;
$c-scrollbar-color-hover:   #aaa;
$c-scrollbar-background:    $c-grey--lightest;

// Shadows
$shadow--light:         0 4px 4px transparentize($c-black, .25);
$shadow:                0 4px 34px transparentize($c-black, .35);
$shadow--blue:          0 10px 24px transparentize($c-blue--light, .85);

$shadow--header:        0 3px 12px transparentize($c-blue--dark, .8);
$shadow--drawer:        0 3px 12px transparentize($c-blue--dark, .8);

$shadow--button:        0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
