$weight-light: 300; // Inter
$weight-normal: 400; // mono, system, Inter
$weight-medium: 500; // Inter
$weight-semibold: 600; // Inter
$weight-bold: 700; // mono, system, Inter

$font-inter: 'Inter', Helvetica, Arial, sans-serif;
$font-monospace: 'Roboto Mono', monospace, sans-serif;
$font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
